
.Footer {
  background-color:#F3E482;
  color: black;
  display: flex;
  padding:30px;
  bottom: 0px;
  position: sticky;
  font-family: 'Jua';

}

.Footer > h2, footer > ul{
  margin: 10px;
}

.Footer > ul {
  list-style-type: none;
}


  

