
.Header {
  background-color:#8EE47F;
  font-family: 'Jua', sans-serif;
}

.Header > section{
  display: flex;
  font-size: 80px;
}
.header_left, .header_right{
  margin: 30px;
  font-size: 30px;
}

.header_left {
  width: 30%;
  font-size: 30px;
  text-align: center;
}

.header_right{
  width: 70%;
}
